body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana;
}
input,label{
    font-weight: bold;
    margin:10px 10px ;
}
.maindiv{
    background-color:white;
    color:black;
    width:500px;
    padding:20px 40px;
    border-radius: 25px;
    margin:auto;
}
.innerdiv{
    width : 350px;
    margin: auto auto;
}


